.product-cage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .down{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .up{
        font-size: 30px;
        text-align: center;
        padding-top: 10px;
    }
}